<!DOCTYPE html>
<html>
    <head>
        <title>Workout App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <header>
            <h1 class="heading">Workout App</h1>
        </header>

        <h1>Set your goals!</h1>

        <form id="submitForm" method="POST" action="{{url_for('onboarding')}}" class="inputArea">
            <h3>Workout Plan</h3>
            {% set workout_options = ["Legs","Arms","Push","Pull","Back"] %}
            {% for day in ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"] %}
                <label for="{{ day }}_workout">{{ day }}'s Workout:</label>
                <select name="{{day}}" id="{{day}}_workout" required>
                    <option value="" selected disabled>Select a workout</option>
                    {% for workout in workout_options %}
                        <option value="{{workout}}">{{workout}}</option>
                    {% endfor %}
                </select>
                <br><br>
            {% endfor %}

            <h3>Diet Plan</h3>
            <label for="Calorie">Calories:</label>
            <input type="number" id="Calorie" name="calories" min="0" required><br>
            <label for="Protein">Protein:</label>
            <input type="number" id="Protein" name="protein" min="0" required><br>
            <label for="Carbs">Carbohydrates:</label>
            <input type="number" id="Carbs" name="carbohydrates" min="0" required><br>
            <label for="Fat">Fat:</label>
            <input type="number" id="Fat" name="fat" min="0" required><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>